@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

img {
  width: 100%;
  height: auto;
  margin:0 1%;
  object-fit: cover;
  flex-grow: 1;
  margin-bottom: 2.5%;
}

li:last-child {
  flex-grow: 10;
}


body {
    margin: 2em;
    background-image: linear-gradient(#D2B9EB, #FFE7FA);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}

.flexUp {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: #FFFAE3;
  border-radius: 25px;
  margin: 0.5em;
}

.flexUp > * {
  flex: 1 100%;
  color: #000000;
}

.full {
  border-top: 0.5em solid #afc4db;
  background-color: #383c67;
  color: #afc4db;
}

.side1 {
  background-color: #383c67;
  flex: 1 auto;
  order: 1;
  color: #ffffff;
}

.mid {
  color: #000000;
  flex: 8 0px;
  order: 2;

  text-align: left;
  font-weight: normal;
  justify-content: space-around;

  column-count: auto;
  column-width: 10em;
  column-gap: 0.5%;
  max-width: 90vw;

  margin: 5%;
  margin-top: 0%;
  
}

.edit{
  column-count: 1;
  max-width: 50vw;
}

.huh {
  width: 100%;
}


.side2 {
  background-color: #383c67;
  flex: 1 auto;
  order: 3;
  color: #ffffff;
}

.footer {
  order: 4;
}

a { color: #383c67 }
a:visited { text-decoration: none; color: #383c67; }
a:hover { text-decoration: none; color: #afc4db; }
a:focus { text-decoration: none; color: #afc4db; }
a:hover, a:active { text-decoration: none; color: #afc4db; }

h2, h3, h4, h5 {
  line-height: 0.5em;
  text-align: center;
}

p {
  font-size: 75%;
}

.sen-1 {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 150%;
}
.yeah {
  padding: 1%;
  word-wrap: break-word;
}

.yeah2 {
  padding: 1%;
  word-wrap: break-word;
  font-size: 75%;
  color: #71809b;
}